<div class="grid">

    <div class="item large intro">
        Beitostølen Live adventkalender. Følg oss på sosiale medier.
    </div>
    <div id="1" class="item small click">1</div>
    <div id="2" class="item small click">2</div>
    <div id="3" class="item small click">3</div>
    <div id="4" class="item small click">4</div>

    <div id="5" class="item small click">5</div>
    <div id="6" class="item small click">6</div>
    <div id="7" class="item small click">7</div>
    <div id="11" class="item small click">11</div>
    <div id="12" class="item small click">12</div>
    <div id="8" class="item small click">8</div>

    <div id="9" class="item small click">9</div>
    <div class="item large logo">
        <img src="/images/logo.png" />
    </div>
    <div id="10" class="item small click">10</div>
    <div id="13" class="item small click">13</div>
    <div id="14" class="item small click">14</div>

    <div id="15" class="item small click">15</div>
    <div id="16" class="item small click">16</div>
    <div id="17" class="item small click">17</div>
    <div id="18" class="item small click">18</div>
    <div id="19" class="item small click">19</div>
    <div id="20" class="item small click">20</div>

    <div id="21" class="item small click">21</div>
    <div id="22" class="item small click">22</div>
    <div id="23" class="item small click">23</div>
    <div id="24" class="item small click">24</div>
    <div class="item gridfooter">TST</div>

</div>