<div id="countDown">
    <div id="countDownGrid">
        <div class="countDownElement">
            <span id="days"></span>
        </div>
        <div class="countDownElement">
            <span id="hours"></span>
        </div>
        <div class="countDownElement">
            <span id="minutes"></span>
        </div>
        <div class="countDownElement">
            <span id="seconds"></span>
        </div>
    </div>
</div>

<script src="/js/countdown.js"></script>