@page
@model ThankYouModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Beitostølen Live - Julekalender";
}

<div id="mainContent" class="wrapper">
    <div class="columnWrapper">
        <div class="thankYouContent">
            <h1 class="thankYou">Takk</h1>
        </div>
        <div class="thankYouContent">
            <div    class="fb-like"
                    data-href="@Model.BaseUrl/day/@Model.CurrentDate.Day"
                    data-width=""
                    data-layout="standard"
                    data-action="like"
                    data-size="large"
                    data-show-faces="true"
                    data-share="true"></div>
        </div>
    </div>
</div>